@font-face {
  font-family: "Colony Wars";
  src: url("https://stancosmin28.github.io/btg/Colony_Wars.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.special-font {
  font-family: "Colony Wars", sans-serif;
}
