@font-face {
  font-family: "Colony Wars";
  src: url("https://stancosmin28.github.io/btg/Colony_Wars.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brink Black";
  src: url("https://stancosmin28.github.io/btg/Brink_Black.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.special-font {
  font-family: "Colony Wars", sans-serif;
}
.special-font2 {
  font-family: "Brink Black", sans-serif;
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 25px;
  }
  .small-header {
    padding: 0 4px 0 4px;
  }
  .small-about {
    padding: 0;
  }
}
