/* .custom-cursor {
  cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"%3E%3Cpath fill="%230055A4" stroke="%23000000" stroke-width="2" stroke-linejoin="round" d="m2 12 3.5-3.5v7L2 12Zm20 0-3.5 3.5v-7L22 12Zm-3.5 0h-13M12 2l3.5 3.5h-7L12 2Zm0 20-3.5-3.5h7L12 22Zm0-3.5v-13"/%3E%3C/svg%3E')
      16 16,
    crosshair;
}

.custom-cursor * {
  cursor: inherit;
} */

.custom-cursor {
  cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"%3E%3Cg fill="none" stroke="%23000000" stroke-width="2"%3E%3Ccircle cx="12" cy="12" r="8.5"/%3E%3Cpath d="M1 12h5M18 12h5M12 6V1M12 23v-5"/%3E%3C/g%3E%3C/svg%3E')
      16 16,
    crosshair;
}

.custom-cursor * {
  cursor: inherit;
}
